<div class="auth-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-xs-center"><%= document %></h1>
        <p class="text-xs-center">
          <a href="/register">Need an account?</a>
        </p>

        <ul class="error-messages">
          <li>That email is already taken</li>
        </ul>

        <%= f.label :email, class: "form-group" %>
        <%= f.text_field :email, class: "form-control form-control-lg", placeholder: "Email" %>
        <%= f.label :password, class: "form-group" %>
        <%= f.password_field :password, class: "form-control form-control-lg", placeholder: "Password" %>
        <%= f.submit "Sign in", class: "btn btn-lg btn-primary pull-xs-right" %>

      </div>
    </div>
  </div>
</div>